<div class="row">
  <div class="col m10 offset-m1">

    <a ng-repeat="pokemon in mc.pokemons" href="#/{{pokemon.id}}"><div id="images" class="col m4 l2 mainpanel red-border red">

      <div class="row"> <div class="col m12"><h5></h5></div></div>

      <div class="row">
        <div class="col m10 offset-m1 white center mainpanel">
          <img src="{{pokemon.sprite}}" width="200px" height="200px" />
        </div>
      </div>

      <div class="row">
        <div class="col m10 offset-m1 green black-text center mainpanel">
          <h5>{{pokemon.name}}</h5>
        </div>
      </div>

    </div></a>

  </div>
</div>
