<div class="row">
  <div class="col m10 l12 offset-m1">

    <a ng-repeat="pokemon in mc.pokemons" href="#/pokemon/{{pokemon.id}}"><div id="images" class="col l2 m3 pad-x">
      <div class=" mainpanel red-border red">
        <div class="row"> <div class="col m12"><h5></h5></div></div>


        <div class="row">
          <div class="col m10 offset-m1 white center mainpanel">
            <img src="{{pokemon.sprite}}" width="100%" height="100%" />
          </div>
        </div>

        <div class="row">
          <div class="col m10 offset-m1 lcd-green black-text nome-pokemon center mainpanel">
            <h5>{{pokemon.name}}</h5>
          </div>
        </div>
      </div>
    </div></a>

  </div>
</div>
