<div class="row">
      <div class="col s12 m10 offset-m1">
        <div class="row">
          <form>
            <h4 class="center">Novo pokemon</h4>

            <div class="row">
              <div class="input-field col s12">
                <p>
                  Nome:
                </p>
                <input id="" type="text" ng-model="pokemon.name">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m6">
                <p>
                  Tipo primario
                </p>
                <input id="" type="text" ng-model="pokemon.primary_type">
              </div>
              <div class="input-field col s12 m6">
                <p>
                  Tipo secundario
                </p>
                <input id="" type="text" ng-model="pokemon.secondary_type">
              </div>
            </div>
            <div class="row">
              <div class="input-field col m6 s12">
                <p>
                  Peso
                </p>
                <input id="" type="number"  ng-model="pokemon.weight">
              </div>
              <div class="input-field col m6 s12">
                <p>
                  Altura
                </p>
                <input id="" type="number" ng-model="pokemon.height">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <p>
                  Imagem:
                </p>
                <input id="" type="text" ng-model="pokemon.sprite">
              </div>
            </div>

            <div class="row"> <div class="col m12"><h1> </h1></div></div>


            <div class="row">
              <button class="btn col s5 offset-s7 m2 offset-m9 red" ng-click="pokemon()">Adicionar</button>
            </div>
            <div class="row"> <div class="col m12"><h1> </h1></div></div>

          </form>
        </div>
      </div>
    </div>
